footer1{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    opacity: 0.9;
  }
  
  footer h2{
    text-align: center;
  }
  
  .social-icon li {
    display: inline-block;
    list-style: none;
  }
  
  .social-icon li a {
    color: #000;
    border-radius: 100px;
    font-size: 50px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 75px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
  }
  
  #GI{
    margin-left: 357px;
  }
  
  .social-icon li a:hover {
    background: #000;
    color: #fff;
  }
  
  @media only screen and (min-width: 327px) and (max-width: 575px){
    #GI{
      margin-left: 1px;
    }
  }
  
  @media only screen and (min-width: 575px) and (max-width: 768px){
    #GI{
      margin-left: 75px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 950px){
    #GI{
      margin-left: 150px;
    }
  }
  
  @media only screen and (min-width: 950px) and (max-width: 1200px){
    #GI{
      margin-left: 275px;
    }
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1500px){
    #GI{
      margin-left: 375px;
    }
  }
  
  .table{
    background-color: #fff;
  }
  .yum{
    padding: 10px 10px 10px 48px;
  }
  #particles-js {
    height: 3800px;
    background: #262626;
    position: absolute;
    z-index: -10;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    background-size: cover;

}